@import "animation";
@import "utilities";

//  body presets
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// maintext sets
.maintext {
  border: 1.5px $secondary-color solid;
  padding-bottom: 5em;
  margin: 2.5em;
}
// heeader styling
h1,h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: white;
}
h1{
  font-size: 3.5em;
}
.more{
  padding: 1em;
}

p,li,a{
  font-family: "Quicksand", sans-serif;
}

.findOut{
  margin: 1.5rem 1rem;
}
// the enjoy text after recommendation
#enjoy{
  visibility: hidden;
}

// error display
.error{
  display: none;
}