@import "animation";
@import "utilities";

//  body presets
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// maintext sets
.maintext {
  border: 2px $secondary-color solid;
  padding: 3em;
  margin: 3em;
}
// heeader styling
h1,h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: white;
}

p,li{
  font-family: "Quicksand", sans-serif;
}

.findOut{
  margin: 1.5rem 1rem;
}
// the enjoy text after recommendation
#enjoy{
  visibility: hidden;
}

// error display
.error{
  display: none;
}